body > .Content {
    padding-top: 60px
}

.nav-item > a {
    font-weight: bolder;
}

@media (min-width: 768px) {
    .navbar {
        height: 50px;
    }
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.autocompleteInput {
    width: 100%;
    margin: 0;
    padding: 0.375rem 0.75rem;
}

.autocomplete {
    /*the container must be positioned relative:*/
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0;
}

.autocomplete-items {
    position: absolute;
    /*border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;*/
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

